/*
 * Copyright (c) 2020 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

#include "fumblr.dtsi"

&default_transform {
	col-offset = <5>;
};

&kscan0 {
	col-gpios
		= <&pro_micro_d 10 GPIO_ACTIVE_HIGH>
		, <&pro_micro_a 16 GPIO_ACTIVE_HIGH>
		, <&pro_micro_a 14 GPIO_ACTIVE_HIGH>
		, <&pro_micro_a 16 GPIO_ACTIVE_HIGH>
		, <&pro_micro_a 18 GPIO_ACTIVE_HIGH>
		, <&pro_micro_a 19 GPIO_ACTIVE_HIGH>
		, <&pro_micro_a 20 GPIO_ACTIVE_HIGH>
		, <&pro_micro_a 21 GPIO_ACTIVE_HIGH>
		;
};
