if SHIELD_FUMBLR_LEFT

config ZMK_KEYBOARD_NAME
	default "Fumblr"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_FUMBLR_RIGHT

config ZMK_KEYBOARD_NAME
	default "Fumblr Right"
	
endif

if SHIELD_FUMBLR_LEFT || SHIELD_FUMBLR_RIGHT

config ZMK_SPLIT
	default y

endif
